:root {
  --primary: #2962ff;
  /* Deep Blue */
  --background: #fafafa;
  /* Light Gray */
  --accent: #00acc1;
  /* Teal */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f2f5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
}
code::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
code::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
code::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}
code::-webkit-scrollbar-thumb:hover {
  background: #333;
}
code {
  scrollbar-width: thin;
  scrollbar-color: #000 #f5f5f5;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #0a1a2f, #0f2747);
  color: #212121;
  width: 100vw;
}

header {
  border-bottom: 1px solid var(--accent);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.card {
  border: 1px solid #00acc1;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  padding: 1.2rem;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: transform 0.2s;
  height: 40px;
}

.card:hover {
  transform: scale(1.05);
  color: white;
}

.layout {
  display: flex;
  height: calc(100vh - 70px);
  /* header height */
}

.sidebar {
  width: 250px;
  color: white;
  border: 1px solid var(--accent);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar h3 {
  color: var(--accent);
  font-size: 1.2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar li:hover,
.sidebar li.active {
  border: 1px solid var(--accent);
  color: white;
}

.content-area {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}

.note-page {
  color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.back-btn {
  background: var(--accent);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
code {
  display: block;
  padding: 8px;
  background: #212121;
  border-radius: 6px;
  overflow-x: auto;
  white-space: pre;
}
.back-btn:hover {
  background: var(--primary);
}

.Physics {
  border-left: 6px solid #3F51B5;
}

.Math {
  border-left: 6px solid #388ec3;
}

.C {
  border-left: 6px solid #455a64;
}

.Manufacturing {
  border-left: 6px solid #ffb300;
}

.EVS {
  border-left: 6px solid #4caf50;
}

/* for comm: #fb8c00 for engg: 8e24aa */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    overflow: hidden;
  }

  .sidebar {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .sidebar ul {
    display: flex;
    gap: 1rem;
  }

  .content-area {
    padding: 1rem;
  }
}